<nav class="container mx-auto py-4 px-4 flex justify-between items-center">
  <a href="/">
    <img src="/images/logo.svg" alt="Logo MH" width="50" class="" />
  </a>

  <div class="flex gap-6 text-sm text-gray-400">
    <a href="/" class="hover:text-gray-900 transition-all duration-300">
      Home
    </a>
    <a href="/projects" class="hover:text-gray-900 transition-all duration-300">
      Projects
    </a>
    <a href="/contact" class="hover:text-gray-900 transition-all duration-300">
      Contact
    </a>
  </div>
</nav>